<div class="flex w-fit mx-auto my-5 gap-7">
    <button class="px-5 py-2 rounded-lg bg-black font-semibold text-white hover:bg-gray-500 hover:text-white hover:-translate-y-1" routerLink="/inicio" routerLinkActive="border bg-white !text-black -translate-y-1">
        <p >
            Inicio
        </p>
    </button>
    <button class="px-5 py-2 rounded-lg bg-black font-semibold text-white hover:bg-gray-500 hover:text-white hover:-translate-y-1" routerLink="/inicio-matriculas" routerLinkActive="border bg-white !text-black -translate-y-1">
        <p>
            Matriculas
        </p>
    </button>
    <button class="px-5 py-2 rounded-lg bg-black font-semibold text-white hover:bg-gray-500 hover:-translate-y-1" routerLink="/inicio-roturas" routerLinkActive="border bg-white !text-black -translate-y-1">
        <p>
            Roturas
        </p>
    </button>
</div>
